In [655]:
import pandas as pd
from datetime import datetime  
from datetime import timedelta 
import numpy as np

In [656]:
df = pd.read_csv('group_stage.csv',parse_dates=True)

In [657]:
df['date']=pd.to_datetime(df.date)
df=df.sort_values(by=['group','date']).reset_index()

In [660]:
df['date']=pd.to_datetime(df['date'])

In [668]:
df['stage_one'] = df.groupby('group').ffill()

In [699]:
df['stage_2'] = df.groupby(['group','stage']).date.apply(lambda x: x - x.iloc[0])
df['stage_2'] /= np.timedelta64(1,'D')
df['stage_2'] = df['stage_2'].where(df['stage']=='two')
print(df.loc[:,['group','date','stage','Stage_c_one','Stage_c_two','stage_2']])

   group       date  stage  Stage_c_one  Stage_c_two  stage_2
0      A 2014-01-01    one            1            0      NaN
1      A 2014-01-03    one            3            0      NaN
2      A 2014-01-04    one            4            0      NaN
3      A 2014-01-05    two            4            1      0.0
4      B 2014-01-02   four            0            0      NaN
5      B 2014-01-06   five            0            0      NaN
6      B 2014-01-10   five            0            0      NaN
7      C 2014-01-03    two            0            1      0.0
8      C 2014-01-05    two            0            3      2.0
9      C 2014-01-08  three            0            1      NaN
10     C 2014-01-09  three            0            0      NaN
11     C 2014-01-10  three            0            0      NaN
12     C 2014-01-11  three            0            0      NaN
13     D 2014-01-01    one            1            0      NaN
14     D 2014-01-03    one            3            0      NaN
15     D 2014-01-04   four            3            0      NaN
16     E 2014-01-04    two            0            1      0.0
17     E 2014-01-06    two            0            3      2.0
18     E 2014-01-07    two            0            4      3.0
19     E 2014-01-08   four            0            4      NaN
20     E 2014-01-09   five            0            4      NaN
21     E 2014-01-10   five            0            0      NaN
22     F 2014-01-08  three            0            0      NaN

In [700]:
print(df.groupby('group')['group','date','stage_2'].head(17))

   group       date  stage_2
0      A 2014-01-01      NaN
1      A 2014-01-03      NaN
2      A 2014-01-04      NaN
3      A 2014-01-05      0.0
4      B 2014-01-02      NaN
5      B 2014-01-06      NaN
6      B 2014-01-10      NaN
7      C 2014-01-03      0.0
8      C 2014-01-05      2.0
9      C 2014-01-08      NaN
10     C 2014-01-09      NaN
11     C 2014-01-10      NaN
12     C 2014-01-11      NaN
13     D 2014-01-01      NaN
14     D 2014-01-03      NaN
15     D 2014-01-04      NaN
16     E 2014-01-04      0.0
17     E 2014-01-06      2.0
18     E 2014-01-07      3.0
19     E 2014-01-08      NaN
20     E 2014-01-09      NaN
21     E 2014-01-10      NaN
22     F 2014-01-08      NaN

In [701]:
df['date']=pd.to_datetime(df.date)
df['stage_2'] = df.groupby('group',sort=True)['stage_2'].ffill()
print(df.groupby('group')['group','date','stage_2'].head(17))

   group       date  stage_2
0      A 2014-01-01      NaN
1      A 2014-01-03      NaN
2      A 2014-01-04      NaN
3      A 2014-01-05      0.0
4      B 2014-01-02      NaN
5      B 2014-01-06      NaN
6      B 2014-01-10      NaN
7      C 2014-01-03      0.0
8      C 2014-01-05      2.0
9      C 2014-01-08      0.0
10     C 2014-01-09      NaN
11     C 2014-01-10      NaN
12     C 2014-01-11      NaN
13     D 2014-01-01      NaN
14     D 2014-01-03      NaN
15     D 2014-01-04      NaN
16     E 2014-01-04      0.0
17     E 2014-01-06      2.0
18     E 2014-01-07      3.0
19     E 2014-01-08      3.0
20     E 2014-01-09      3.0
21     E 2014-01-10      NaN
22     F 2014-01-08      NaN